<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container-fluid">
        <form class="form" action="/contact" method="post">
            <div id="contactd" class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <input class="form-control" type="text" name="name" id="contactinput" placeholder="Name" required>
                    <input class="form-control" type="email" name="email" id="contactinput" placeholder="Email" required>
                    <input class="form-control" type="text" name="message" id="contactinput" placeholder="Message" required>
                    <input id="subm" class="btn btn-outline-success" type="submit" value="SEND">
                </div>
            </div>
        </form>
    </div>
</body>

</html>