h1, h2, h5{
    color: white;
}

.btn{
    margin-top: 1.5%;
    color: dodgerblue;
    border-radius: 50px;
    font-size: 25px;
}

#api{
    float: right;
    font-size: 20px;
    padding-top: 0.17em;
}

#link{
    display: inline;
    font-size: 30px;
    padding-left: 2%;
}

textarea{
    background-color: #2c3e50 !important;
    color: #ffffff !important;
    border:none !important;
    resize: none;
}

body{
    background-color:#2c3e50;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}