h1, h2, h5{
    color: white;
}

.btn{
    margin-top: 1.5%;
    color: dodgerblue;
    border-radius: 50px;
    font-size: 25px;
}

#contact{
    float: left;
    font-size: 20px;
    padding-top: 0.17em;
}

#api{
    float: right;
    font-size: 20px;
    padding-top: 0.17em;
}

#link{
    display: inline;
    font-size: 30px;
    padding-right: 2.5%;
}

textarea{
    background-color: #2c3e50 !important;
    color: #ffffff !important;
    border:none !important;
    resize: none;
}

body{
    background-color:#2c3e50;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

#sb, #ab{
    width: 35%;
    border-radius: 15px;
    margin-top: 15px; 
}

#ct{
    border-radius: 10px;
    margin: 10px auto auto auto;
}

#d{
    margin-top: 15%;
}

#ps{
    border-radius: 12px;
}

#v{
    margin-top: 20%;
}