<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1" />
    <title>Telegram Proxies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/index.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <a href="" class="btn btn-outline-primary" id="b">Click for enable proxy</a>
                <a href="https://t.me/tproxies_bot" class="btn btn-outline-primary">Open @tproxies_bot</a>
                <h1>Free SOCKS5 Proxies for Telegram</h1>
                <h2>Checking every 2 minutes</h2>
                <h5 id="num"></h5>
                <textarea class="form-control text-center" rows="45"></textarea>
                <hr>
                <h2 id="link"><a href="https://github.com/trigun117/ProxyGrabber">GitHub</a></h2>
                <p id="api"><a href="/json">API</a></p>
            </div>
        </div>
    </div>
</body>
</html>
