<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1" />
    <title>Telegram Proxies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css?v=4">
    <script src="static/index.js?v=2"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <h3>
                    <a href="https://t.me/proxy?server=35.204.149.179&port=443&secret=d8c5faa2e7b7e0d76370334ec133a986" class="btn btn-outline-primary"
                        id="proto">MTProto</a>
                    <a href="https://t.me/fproxyf" class="btn btn-outline-primary" id="chan">Channel</a>
                </h3>
                <h3>
                    <a href="https://t.me/tproxies_bot" class="btn btn-outline-primary" id="tb">@tproxies_bot</a>
                    <a href="" class="btn btn-outline-primary" id="b">SOCKS5</a>
                </h3>
                <h1>Free Proxies for Telegram</h1>
                <h2>Checking every 2 minutes</h2>
                <hr>
                <h2>MTProto Proxy</h3>
                    <h6>Server: 35.204.149.179</h6>
                    <h6>Port: 443</h6>
                    <h6>Secret: d8c5faa2e7b7e0d76370334ec133a986</h6>
                    <h6>
                        <a href="https://t.me/proxy?server=35.204.149.179&port=443&secret=d8c5faa2e7b7e0d76370334ec133a986">Link</a>
                    </h6>
                    <h5 id="num"></h5>
                    <textarea class="form-control text-center" rows="45"></textarea>
                    <hr>
                    <p id="contact">
                        <a href="/contact">Contact</a>
                    </p>
                    <h2 id="link">
                        <a href="https://github.com/trigun117/ProxyGrabber">GitHub</a>
                    </h2>
                    <p id="api">
                        <a href="/json">API</a>
                    </p>
            </div>
        </div>
    </div>
</body>

</html>