<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1" />
    <title>Telegram Proxies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css?v=11">
    <script src="static/index.js?v=4"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <h4>Free Proxies for Telegram</h4>
                <h4>Checking every 2 minutes</h4>
                <h3>
                    <a href="tg://proxy?server=35.204.52.222&port=443&secret=da38b5e84f3bbf2b13b4682e5e486484" class="btn btn-outline-primary"
                        id="mtproto">MTProto</a>
                    <a href="" class="btn btn-outline-primary" id="socks">SOCKS5</a>
                </h3>
                <h3>
                    <a href="https://t.me/tproxies_bot" class="btn btn-outline-primary" id="bot">@tproxies_bot</a>
                    <a href="https://t.me/fproxyf" class="btn btn-outline-primary" id="channel">Channel</a>
                </h3>
                <h4>MTProto Proxy</h4>
                <h6>Server: 35.204.52.222</h6>
                <h6>Port: 443</h6>
                <h6>Secret: da38b5e84f3bbf2b13b4682e5e486484</h6>
                <h5>
                    <a href="tg://proxy?server=35.204.52.222&port=443&secret=da38b5e84f3bbf2b13b4682e5e486484">Link</a>
                </h5>
                <h5 id="num"></h5>
                <textarea class="form-control text-center" rows="38" readonly></textarea>
                <hr>
                <div class="d-flex justify-content-between">
                    <a id="contact" href="/contact">Contact</a>
                    <a id="api" href="/json">API</a>
                    <a id="link" href="https://github.com/trigun117/ProxyGrabber">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>